<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>table test</title>
</head>
<body>
    <table border="1">
        <thead>
            <tr>
                <th>name</th>
                <th>age</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>reboot</td>
                <td>2</td>
            </tr>
            <tr>
                <td>wd</td>
                <td>111</td>
            </tr>
        </tbody>
    </table>
    <a href="/table1?name=abc&oper=del">haha_link</a>
    <form action="/">
        name:
        <input type="text" name="name">
        password:
        <input type="password" name="passwd">
        <input type="submit" value="submit">
    </form>
</body>
</html>