<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link rel="stylesheet" href="/static/bootstrap.min.css">
  <link rel="stylesheet" href="/static/jquery-ui.css">
  <link rel="stylesheet" type="text/css" href="/static/sweetalert.css">
  <style>
    .container{
      margin-top: 50px;
    }
    #server-list{
        margin-top:20px;
    }
    #mem-slider{
      width: 200px;
      margin-left: 10px;
      margin-right: 10px;
    }
  </style>
</head>
<body>
  <a href="/logout">logout</a>

  <div class="container">

    <div class="row">

      <div class="col-md-8 col-md-offset-3">

        <form id='mem-form' class="form-inline">
          <div class="form-group">
            <label for="exampleInputName2">Name</label>
            <input type="text" class="form-control" name='name' id="name-input"></div>
          <!--  
          <div class="form-group">
          <label for="exampleInputEmail2">Mem</label>
          <input type="text" name='mem' class="form-control" id="mem-input"></div>
        -->
        <div class="form-group">
          <div id="mem-slider"></div>
          <span id="mem-size"></span>
          G
          <!-- https://jqueryui.com/slider/#rangemax -->
          <!-- <label for="mem-size"></label>
        G -->
      </div>

      <button id='add-btn' type="button" class="btn btn-default">Send invitation</button>
    </form>

    <table id='server-list' class="table table-bordered text-center"></table>
  </div>
</div>
</div>

<script src='/static/jquery.js'></script>
<script src='/static/jquery-ui.js'></script>
<script src="/static/sweetalert.min.js"></script>

<script>


$(function() {
  $('#mem-slider').slider({
    slide: function(event, ui) {
      $('#mem-size').html(ui.value)
    },
    range: "max",
    max: 32,
    min: 2,
    step: 2,
    value: 4,
    animate: "fast"
  })
})


$(document).on('click', '.del-btn', function() {
  // this 执行上下文
  var id = $(this).attr('data-id')
  swal({
      title: "Are you sure?",
      text: "Will be delete the server",
      type: "warning",
      showCancelButton: true,
      confirmButtonColor: "#DD6B55",
      confirmButtonText: "Yes, delete it!",
      closeOnConfirm: false
    },

    function() {
      $.get('/del?id=' + id, function(data) {
        if (data == 'ok') {
          getList()
          swal("Deleted!", "the server has been deleted.", "success");
        }
      })
    }
  )
})


$('#add-btn').on('click', function() {
  var name = $('#name-input').val()
  var mem = $('#mem-slider').slider("value")

  // var mem=$('#mem-input').val()
  // $( "#mem-slider" ).on( "slide", function( event, ui ) {
  //   mem = ui.value
  // console.log(mem)
  // } )

  // console.log(name+':'+mem)

  $.get('/add?name=' + name + '&mem=' + mem, function(data) {
    if (data == "ok") {
      getList()
    }
  })

})

function getList() {
  $.getJSON('/list', function(data) {
    tmp = ''
    $.each(data, function(index, value) {
      tmp += '<tr><td>' + value[0] + '</td><td>' + value[1] + '</td><td>' + value[2] + '</td><td><button class="del-btn btn btn-danger" data-id="' + value[0] + '">delete</button></td></tr>'
    })
    $('#server-list').html(tmp)
  })
}

getList()
</script>

</body>
</html>